body {
    background-color: bisque;
    margin-left: 60px;
    padding-left: 5px;
    border-left: 1px solid red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
}
img {
    vertical-align: middle;
}
h1 {
    color: blue;
    text-align: center;
}
h2 {
    color:magenta;
    text-align: right;
}
h5 {
    text-align: center;
}
.key { /* extension quelconque */
    font-weight: bold;
    color: brown;
}
.log { /* nom d'un logiciel */
    color: blue;
    font-weight:bold;
    font-variant: small-caps;
}
.auteur { /* Nom d'auteur en gras, petites majuscules */
    font-variant: small-caps;
    font-weight: bold;
}
.oeuvre { /* Titre d'oeuvre, en italiques */
    font-style: italic;
}
.texte { /* extrait de texte - largeur fixe, fond blanc, bordure */
    background-color: white;
    width: 850px;
    padding: 2px;
    border-bottom: 3px solid saddlebrown;
    border-right: 1px solid saddlebrown;
}
.didas { /* didascalies (théâtre) */
    font-style: italic;
    font-size: small;
    color: brown;
}