body {
    background-color: bisque;
    margin-left: 60px;
    padding-left: 5px;
    border-left: 1px solid red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
}
h1 {
    color: blue;
    text-align: center;
}
h2 {
    color:magenta;
    text-align: right;
}
h5 {
    text-align: center;
}
.key {
    font-weight: bold;
    color: brown;
}
.log { /* logiciel */
    color: blue;
    font-weight:bold;
    font-variant: small-caps;
}
.auteur {
    font-variant: small-caps;
    font-weight: bold;
}
.oeuvre {
    font-style: italic;
}
.texte {
    background-color: white;
    width: 850px;
    padding: 2px;
    border-bottom: 3px solid saddlebrown;
    border-right: 1px solid saddlebrown;
}
.didas {
    font-style: italic;
    font-size: small;
    color: brown;
}